body,
html {
  overflow-x: hidden;
}

:root {
  --dark: #101e24;
  --light-green: #0dcea0;
  --gray: #586482;
  --light-gray: #dee3db;
  --orange: #ff6331;
  --br-primary: #479cd9;
}

.bg-main {
  background: var(--dark);
}

.hero {
  min-height: 100vh;
  background: url("/assets/images/heroBg.svg") no-repeat;
  background-size: cover;
}

.hero-text {
  font-size: 3.5rem;
  margin-top: 8rem;
}

.hero-item {
  margin-top: 8rem;
}

.btn-primary {
  background: var(--br-primary) !important;
}

.btn-primary:hover {
  opacity: 0.9;
}

.text-soli-primary {
  color: var(--br-primary) !important;
}

.text-orange {
  color: var(--orange);
}

.text-dark {
  color: var(--dark);
}

.text-gray {
  color: var(--gray);
}

.text-lgray {
  color: var(--light-gray);
}

.text-lgreen {
  color: var(--light-green);
}

.btn-outline-primary {
  color: var(--br-primary) !important;
  border-color: var(--br-primary) !important;
}

.btn-outline-primary:hover {
  background: var(--br-primary) !important;
  color: white !important;
}

.service-card {
  max-width: 350px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.klant-card {
  max-width: 350px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background: white;
}

.contact-card {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 4rem;
  margin: 5rem 0;
}

.text-justify {
  text-align: justify;
}

.bg-footer {
  background: #050046;
}

.footer-contenr {
  max-width: 90vw;
  margin: auto;
  padding: 6rem 0;
}

.relative {
  position: relative;
}

.curved-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/images/building.png");
  transform: skew(0, 6deg);
  z-index: -1;
}

.curved-section {
  padding: 2rem;
  margin: 10rem 0;
  max-height: 25rem;
}

.curved-section-dark {
  padding: 2rem;
  margin: 10rem 0 0 0;
  min-height: 20rem;
}

.curved-section-service {
  margin-top: 27rem;
}

.curved-bg-dark {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--dark);
  transform: skew(0, 6deg);
}

.onze-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--dark);
  transform: skew(0, 5deg);
  z-index: -1;
  max-height: 30rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.flex-1 {
  flex: 1;
}

.social-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-bottom: 0 !important;
}

.form-control,
.form-select {
  border: none !important;
  border-bottom: 1px solid #b0b3c7 !important;
  border-radius: 0% !important;
}

.form-select {
  padding: 0.5rem 0 !important;
}

.project-box {
  width: 25vw;
  height: 25vw;
  margin: 5px;
  background: url("/assets/images/building.png");
}

.social-icon {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bedenken-section {
  margin-top: 17rem !important;
}

.social-icon:nth-child(1) {
  margin-right: 6rem;
}

.social-icon:nth-child(2) {
  margin-left: 6rem;
}

.service-footer {
  margin-top: 27rem;
}

@media only screen and (max-width: 768px) {
  .contact-image {
    width: 80vw;
  }
}

@media only screen and (min-width: 992px) {
  .help-text {
    margin-right: 10rem;
  }

  .hero {
    min-height: 90vh;
  }
}

@media only screen and (min-width: 769px) {
  .onze-text {
    max-width: 52vw;
  }

  .social-icon:nth-child(1) {
    margin-right: 6rem;
  }

  .social-icon:nth-child(2) {
    margin-left: 6rem;
  }

  .bedenken-section {
    margin-top: var(--bs-gutter-y) !important;
  }

  .footer-contenr {
    max-width: 70vw;
  }

  .curved-section-service {
    margin-top: 0;
  }

  .service-footer {
    margin-top: 0;
  }

  .mt-md-6 {
    margin-top: 6rem;
  }

  .hero-desc {
    max-width: 37vw;
    text-align: justify;
  }

  .sub-text {
    max-width: 50vw;
    margin: auto;
  }
}

.pages {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-size: 2vw;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
